body{
    background-color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
header{
    color: white;
    text-align: center;
    
}
section{
    background-color:#9e6e6e;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.274);
}
footer{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: white;
}
input#txtano{
    width: 60px;
}
input.v{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: white;
    background-color: blue;
}

}